#mask {
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 9;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @include medium-media {
    display: none !important;
    visibility: 0 !important;
  }
}
